<div class="mx-5 my-5">
    <h2 class="text-center">PASAR CONSULTAS PERSONALIZADAS A SEQUELIZE</h2>
    <div class="border py-4 px-3 mt-3">
    
    <div class="row">
        <div class="col-6">
            <p class="text-justify">
                Todas las consultas que se vayan a utilizar en este tutorial, ya han sido incluidas en el repositorio del proyecto, 
                el cual podran descargar desde el enlace a mi cuenta de <span class="text-primary">github</span>, que incluire en las descripción de este video.
            </p>
            <p>
                Esta primera consulta me retorna los datos de los libros, sus autores, su categoria y la cantidad disponible, con la condicion 
                de que solo me muestre los resultados donde la cantidad o disponibilidad de un libro sea mayor que cero
            </p>
            <p>
                Ahora vamos a utilizar esta consulta en la ruta que ya hemos creado y luego enviaremos esos resultados dentro de una variable de entorno
                a la plantilla indicada, para que los datos puedan ser listados en una tabla.
            </p>
            <p>
                NOTA: No me he ocupado mucho de la estetica, debido a que el alcance principal del proyecto es funcional. luego
                ustedes pueden hacer una interfaz mas agradable si gustan. Las plantillas que vamos a utilizar ya estan precreadas en el repositorio de forma
                que no me consuma tiempo en edición, pues quiero avanzar lo mas que se pueda en explicar lo más esencial.
            </p>
        </div>
        <div class="col-6">
            <div class="card">
               
                <div class="card-body">
                    <img src="/images/img15.png" alt="" class="img-fluid" style="height: 550px;">
                </div>
            </div>
        </div>
    </div>
        
        
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index/guide15" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
             <a href="/index/guide17" class="btn btn-primary"><i class="fas fa-forward"></i></a>
        </div>
    </div>
</div>