<div class="my-1 mx-5">
    <h2 class="text-center">COMENTARIOS FINALES</h2>
    <div class="border py-4 px-3 mt-1">
        <div class="row">
            <div class="col-3">
                <p class="text-justify">
                    Aun quedan muchas cosas que se pueden poner en practica con este pequeño ensayo, te habras fijado seguramente
                    que no disponemos aun de una vista para los usuarios y los libros prestados por los mismos, tampoco se dispone
                    de una vista para agregar autores y categorias; pues bien, creo que si eres nuevo en el mundo del desarrollo
                    es tu oportunidad de ponerte creativo y experimentar soluciones para estas situaciones.
                </p>
                <p class="text-justify">
                    El proposito de estos videos no es quitarte la inspiracion, sino promover tu curiosidad. Estoy seguro que a este punto
                    ya has considerado algunas funcionalidades que quizas a mi se me escaparón, tambien puede que consideres que la 
                    forma en que las he realizado no es la mas adecuada, y bien para eso siempre hay una solución: la documentación.
                    Por eso he compartido los enlaces a los sitios que considero deben visitar, para tener un mejor concepto que el enseñado
                    en este tutorial. 
                </p>
               
            </div>
            <div class="col-6">
              
                <img src="/images/img24.png" alt="" class="img-fluid" style="height: 700px; width: 670px;">
               
            </div>
            <div class="col-3">
                <p class="text-justify">
                    Agredezco la atención prestada, estoy abierto a sus comentarios, y cualquier duda puntual que tengan con los conceptos de este tutorial,
                    me los haces saber y con gusto te respondo. Por el momento esto es todo, nos vemos en otro video, en este mismo canal.  
                </p>
                <p>Muchas Gracias!</p>
            </div>
        </div>
       
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index/guide22" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
             <a href="/index" class="btn btn-primary"><i class="fas fa-home"></i></a>
        </div>
    </div>
</div>