<div class="container mt-5">
    <div class="">
        <h2 class="text-center">PRIMEROS PASOS</h2>
        <hr>
        <div class="border py-5 px-3">
            <ul>
                <li>
                    <p class="text-justify">Clonar el repositorio base del Proyecto y ejecutar el comando <i class="text-danger">"npm install"</i>, este comando lo que hará es
                    instalar la siguiente lista de paquetes:
                    </p>
                    <ul>
                        <li>
                            <p>express: Framework para escribir codigo de servidores en NodeJS</p>
                        </li>
                        <li>
                            <p>express-handlebars: Motor de plantillas</p>
                        </li>
                        <li>
                            <p>body-parser: Analizador de cuerpo de solicitudes HTTP para express</p>
                        </li>
                        <li>
                            <p>cors: Libreria para intercambio de recursos de origen cruzado</p>
                        </li>
                        <li>
                            <p>dotenv: Libreria que nos permite acceder a las variables de entorno</p>
                        </li>
                         <li>
                            <p>nodemon: Libreria de desarrollo, que permite monitorear cambios en el codigo de una aplicacion servidor NODEJS</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Ejecute el comando <i class="text-danger">"npm run dev"</i> y luego desde un navegador podra acceder a la <a href="http://localhost:4200/index">App</a></p>
                </li>
                <li>
                    <p>Si ha seguido todos los pasos, podra acceder a esta <b>guia</b> que viene incluida en el proyecto</p>
                </li>
            </ul>
        </div>
        <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index" class="btn btn-primary"><i class="fas fa-home"></i></a>
        </div>
        <div class="col-1">
             <a href="/index/guide2" class="btn btn-primary"><i class="fas fa-forward"></i></a>
        </div>
    </div>
    </div>
</div>