<div class="mx-5 my-5">
    <h2 class="text-center">REGISTRAR UN LIBRO</h2>
    <div class="border py-4 px-3 mt-3">
    
    <div class="row">
        <div class="col-6">
            <div class="card">
               <div class="card-body">
                    <p class="text-center">
                        Consulta que retorna los datos de autores y categorias a utilizar en el formulario de registro
                    </p>
                    <img src="/images/img18.png" alt="" class="img-fluid" style="height: 500px; width: 650px;">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">
                        ruta que renderiza la plantilla del formulario y le pasa las variables de entorno
                    </p>
                    <img src="/images/img19.png" alt="" class="img-fluid" style="height: 500px; width: 650px;">
                </div>
            </div>
        </div>
    </div>
        
        
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index/guide18" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
             <a href="/index/guide20" class="btn btn-primary"><i class="fas fa-forward"></i></a>
        </div>
    </div>
</div>