<div class="mx-5 my-5">
    <h2 class="text-center">CREACION DE LA BASE DE DATOS Y CONFIGURACION DE SEQUELIZE</h2>
    <div class="border mt-3 py-4 px-3">
        <p class="text-justify">El siguiente paso, es crear una base de datos, sin definir ningun modelo, ni relación ya que esto lo vamos a realizar con el ORM de <i>sequelize</i>.</p>
        <p class="text-justify">
            Para crear la base de datos yo voy a utilizar <i>XAMPP</i>, pero ustedes pueden utilizar el servicio o programa que les resulte mas conveniente, solo les recuerdo
            que estamos trabajando con una base de datos <i>MySQL</i> para que lo tengan en cuenta al momento de realizar su elección.
        </p>
        <p>Una vez creada la base de datos, lo siguiente que tenemos que hacer es instalar las siguientes dependencias:</p>
        <ul>
            <li>
                <p>MySql2: Es un cliente (controlador) para NodeJS, que nos permitira realizar una conexión a la base de datos</p>
            </li>
            <li>
                <p>Sequelize: Es un ORM para NodeJS, que nos permite manipular base de datos SQL [MSSQL, Postgres, MySQL, SQLite]</p>
            </li>
            <li>
                <p>Sequelize-cli: No es una dependencia, es una Interfaz de linea de comandos para Sequelize</p>
            </li>
        </ul>
        <hr>
        <h4>
            Instalacion:
        </h4>
        <hr>
        <p>En una terminal corra las siguientes linea de comandos en el orden indicado:</p>
        <p><i>npm i -g sequelize-cli</i></p>
        <p><i>npm i --save sequelize mysql2</i></p>
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index/guide" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
             <a href="/index/guide3" class="btn btn-primary"><i class="fas fa-forward"></i></a>
        </div>
    </div>
</div>