<div class="my-5 mx-5">
    <h2 class="text-center">CREACION DE LA BASE DE DATOS, MODELOS Y CONFIGURACION DE SEQUELIZE</h2>
    <div class="border py-4 px-3 mt-3">
        <div class="row">
            <div class="col-4">
                <p class="text-justify">
                    Cuando hayas terminado de editar los cambios al archivo <i class="text-primary">app.js</i> debes volver a iniciar tu servidor,
                    siempre con el comando <i class="text-primary">npm run dev.</i>
                </p>
                <p class="text-justify">
                    Si has seguido de forma correcta estos pasos, deberias ver en tu terminal el mensaje mostrado en la imagen,
                    el cual nos resume las consultas que se han ejecutado para crear los modelos en la base de datos de forma correcta. 
                </p>
                <p class="text-justify">
                    Ahora, vamos a examinar nuestra base de datos para verificar que los atributos y sus nombres se han procesado correctamente,
                    puede que sea necesario que tengamos que ejecutar alguna modificación posterior, ya sea porque nos hemos equivocado en el tipo de dato,
                    en el nombre del atributo, etc.
                </p>
               
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <img src="/images/img10.png" alt="" class="img-fluid" style="height: 500px;">
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index/guide10" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
            <a href="/index/guide12" class="btn btn-primary"><i class="fas fa-forward"></i></a>
        </div>
    </div>
</div>