<div class="my-5 mx-5">
    <h2 class="text-center">CREACION DE LA BASE DE DATOS, MODELOS Y CONFIGURACION DE SEQUELIZE</h2>
    <div class="border py-4 px-3 mt-3">
        <div class="row">
            <div class="col-4">
                <p class="text-justify">
                  Ahora vamos a crear en "app.js", una instancia de <span class="text-primary">sequelize</span> y vamos
                  a envolver el metodo listen (express), dentro de la promesa del metodo <span class="text-primary">sync</span> de sequelize.
                  El metodo <span class="text-primary">sync</span> lo que hará es reconciliar nuestra base de datos, con los modelos que hemos declarado; es decir, que procederá 
                  con la migración de estos modelos a la base de datos.
                </p>
                <p>
                    Antes de realizar estas modificaciones al codigo, primero detengamos nuestro servidor.
                </p>
               
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <img src="/images/img9.png" alt="" class="img-fluid" style="height: 500px;">
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index/guide9" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
            <a href="/index/guide11" class="btn btn-primary"><i class="fas fa-forward"></i></a>
        </div>
    </div>
</div>