<div class="mx-5 my-5">
    <h2 class="text-center">CREACION DE LA BASE DE DATOS, MODELOS Y CONFIGURACION DE SEQUELIZE</h2>
    <div class="border py-4 px-3 mt-3">
    
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center font-weight-bold">
                   MODIFICACION DEL NOMBRE DE LA CLAVE FORANEA
                </div>
                <div class="card-body">
                    <img src="/images/img12.png" alt="" class="img-fluid" style="height: 400px; width: 650px;">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center font-weight-bold">
                    PERMTIR QUE CAMBIOS A LOS MODELOS SEAN APLICADOS 
                </div>
                <div class="card-body">
                    <img src="/images/img13.png" alt="" class="img-fluid" style="height: 500px; width: 650px;">
                </div>
            </div>
        </div>
    </div>
        
        
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/index/guide12" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
             <a href="/index/guide14" class="btn btn-primary"><i class="fas fa-forward"></i></a>
        </div>
    </div>
</div>