<div class="container mt-5">
    <h2 class="border border-primary py-4 px-4 text-center text-primary">
        BIENVENIDO AL TUTORIAL DE MYSQL-NODEJS-SEQUELIZE
    </h2>
    <div class="row mt-3">
        <div class="col-md-8 offset-md-2 border py-3 d-flex justify-content-center">
            <p class="text-justify">
                Por favor haga clic en el enlace <a href="/index/guide" class="btn btn-outline-primary btn-sm">Guide</a> que lo llevara a la guia de este tutorial.
            </p>
            
        </div>
    </div>
</div>